@model test.Database.QueueDbModel
@{
    ViewData["Title"] = "QView";
}

    <h3 class="headOfPage">Queue - <span class="highlight">@Model.Name</span></h3>
    <h5>Short discription: <span class="highlight">@Model.About</span></h5>
    <h6>Model: <span class="highlight">@Model.Priority</span></h6>
    <h6>Author: <a href="/Account/UserPage?Name=@Model.TeacherName">@Model.OuthorName</a></h6>
    <h6>Teacher: <a href="/Account/UserPage?Name=@Model.TeacherName">@Model.TeacherName</a></h6>

    @if (User.Identity.IsAuthenticated)
    {   
        <div class="form-check-inline">
            <input placeholder="Proirity" type="number" id="inputPriority" style="width: 100px;"/>
            <button onclick="AddToQ()"> Join Q</button>
            <button onclick="DeleteFromQueue('@User.Identity.Name')"> Leave Q</button>
        </div>
    }

    <table class="table" id="Queue"></table>
@{ 

}

<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script>
    "use strict";

    const connection = new signalR.HubConnectionBuilder().withUrl("/QueueTest").build();

    connection.on("GetNotify", function () {
        ViewQueue();
    });

    connection.start().then(function () {
        connection.invoke("AddToGroup", "@Model.Id");
        ViewQueue();
    })


    function ViewQueue() {
        $.ajax({
            url: '/Queue/AjaxShowQueueInfo?Id=@Model.Id',
            success: function (data) {
                    document.getElementById("Queue").innerHTML = data;
                }
        });
    }

    function AddToQ() {
        $.ajax({
            url: '/Queue/AjaxAddToQueue?Id=@Model.Id&Priority=' + document.getElementById("inputPriority").value,
            success: function (returnData) {
                if (returnData) { connection.invoke("SendGroupNotify", "@Model.Id") } ;
            }
        });
    }

    function DeleteFromQueue(Name) {
        $.ajax({
            url: '/Queue/AjaxDeleteFromQueue?Id=@Model.Id&Name=' + Name,
            success: function (returnData) {
                if (returnData) { connection.invoke("SendGroupNotify", "@Model.Id") } ;
            }
        });
    }

    function ChangePriority(Name) {
        $.ajax({
            url: '/Queue/AjaxChangePriority?Id=@Model.Id&Name=' + Name + '&Priority=' + prompt ("inter priority", 0),
            success: function (returnData) {
                if (returnData) { connection.invoke("SendGroupNotify", "@Model.Id") } ;
            }
        });
    }
</script>





