@model test.Database.QueueDbModel
@{
    ViewData["Title"] = "QView";
}
<!--requered include Author, Teacher, -->


    <h3 class="headOfPage">Queue - <span class="highlight">@Model.Title</span></h3>
    <div class="dropdown-divider"></div>
    <h5>Short discription: <span class="highlight">@Model.About</span></h5>
    <h6>Model: <span class="highlight">@Model.Priority</span></h6>
    <h6>Author: <a href="/Account/UserPage?Name=@Model.Author.UserName">@Model.Author.UserName</a></h6>
    <h6>Teacher: <a href="/Account/UserPage?Name=@Model.Teacher.UserName">@Model.Teacher.UserName</a></h6>

    @if (User.Identity.IsAuthenticated)
    {
        
    }

    <table class="table" id="Queue"></table>

<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script>
    "use strict";

    const connection = new signalR.HubConnectionBuilder().withUrl("/QueueView").build();

    connection.on("GetNotify", function () {
        ViewQueue();
    });

    connection.start().then(function () {
        connection.invoke("AddToGroup", "@Model.Id");
        ViewQueue();
    })


    function ViewQueue() {
        $.ajax({
            url: '/Queue/AjaxShowQueueInfo?Id=@Model.Id',
            success: function (data) {
                    document.getElementById("Queue").innerHTML = data;
                }
        });
    }

    function AddToQ() {
        $.ajax({
            url: '/Queue/AjaxAddToQueue?QueueId=@Model.Id&Priority=' + document.getElementById("inputPriority").value,
            success: function (returnData) {
                if (returnData) { connection.invoke("SendGroupNotify", "@Model.Id") } ;
            }
        });
    }

    function DeleteFromQueue(UserId) {
        $.ajax({
            url: '/Queue/AjaxDeleteFromQueue?QueueId=@Model.Id&UserId=' + UserId,
            success: function (returnData) {
                if (returnData) { connection.invoke("SendGroupNotify", "@Model.Id") } ;
            }
        });
    }

    function ChangePriority(UserId) {
        $.ajax({
            url: '/Queue/AjaxChangePriority?QueueId=@Model.Id&UserId=' + UserId + '&Priority=' + prompt ("Enter priority", 0),
            success: function (returnData) {
                if (returnData) { connection.invoke("SendGroupNotify", "@Model.Id") } ;
            }
        });
    }
</script>





