@using test.Database
@model UserDbModel

@{ 
    ViewData["Title"] = "User " + Model.UserName;
}

<h3 class="headOfPage">This is a <span class="highlight">@Model.UserName</span>'s pofile</h3>

<div class="info">
    <table class="table">
        <tr>
            <td>
                <span class="number">@Model.QueuesAsMember.Count()</span>
                <p>Queues as a member</p>
                <div class="dropdown-divider"></div>
                <div class="ListQ">
                    @foreach (int Id in Model.QueuesAsMember)
                    {
                        ApplicationContext db = ViewBag.Db;
                        <p><a asp-controller="Queue" asp-action="QView" asp-route-Id="@db.Queues.Find(Id).Id">@db.Queues.Find(Id).Name</a></p>;
                    }
                </div>
            </td>
            <td>
                <span class="number">@Model.QueuesAsTeacher.Count()</span>
                <p>Queues as a Teacher</p>
                <div class="dropdown-divider"></div>
                <div class="ListQ">
                    @foreach (int Id in Model.QueuesAsTeacher)
                    {
                        ApplicationContext db = ViewBag.Db;
                        <p><a asp-controller="Queue" asp-action="QView" asp-route-Id="@db.Queues.Find(Id).Id">@db.Queues.Find(Id).Name</a></p>;
                    }
                </div>
            </td>
            <td>
                <span class="number">@Model.QueuesAsOuthor.Count()</span>
                <p>Queues as a Author</p>
                <div class="dropdown-divider"></div>
                <div class="ListQ">
                    @foreach (int Id in Model.QueuesAsOuthor)
                    {
                        ApplicationContext db = ViewBag.Db;
                        <p><a asp-controller="Queue" asp-action="QView" asp-route-Id="@db.Queues.Find(Id).Id">@db.Queues.Find(Id).Name</a></p>;
                    }
                </div>
            </td>
        </tr>
    </table>
</div>
