@using Microsoft.AspNetCore.Identity;
@using System.Web;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="navDiv">
            <table class="nav-table">
                <tr>
                    <td>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">test</a>
                    </td>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </td>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Queue" asp-action="CreateQ">Queue</a>
                    </td>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Index">Chat</a>
                    </td>
                </tr>
            </table>

            <table class="regTable">
                <tr>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            <a asp-controller="Account" asp-action="UserPage" asp-route-Name="@User.Identity.Name">@User.Identity.Name</a>
                        </td>
                        <td>
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <input type="submit" value="Выход" />
                            </form>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-controller="Account" asp-action="Login">Вход</a>
                        </td>
                        <td>
                            <a asp-controller="Account" asp-action="Register">Регистрация</a>
                        </td>
                    }
                </tr>
            </table>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
